<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd">

	<bean id="springApplicationContext"
		class="com.spanbee.listeners.SpringApplicationContext" />

	
	
	<bean id="registrationController" class="com.spanbee.controller.RegistrationController">
	     	<property name="registrationService" ref="registrationService" />
	</bean>
	
	
	<bean id="registrationService"	class="com.spanbee.service.RegistrationServiceImpl">
		<property name="registrationDaoImpl" ref="registrationDaoImpl" />
	</bean>
	
	<bean id="registrationDaoImpl" class="com.spanbee.dao.RegistrationDaoImpl">
	</bean>
	

	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="false" />


	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://208.91.198.55:3306/shopu8qk_spanbee?autocommit=true"></property>
		<property name="username" value="shopu8qk_spanbee"></property>
		<property name="password" value="spanbee"></property>
	</bean>

	<bean id="hbAdapterBean"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="showSql" value="false"></property>
		<property name="generateDdl" value="false"></property>
		<property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"></property>
	</bean>

	<bean id="emfBean"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="jpaVendorAdapter" ref="hbAdapterBean"></property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emfBean"></property>
	</bean>

	<context:component-scan base-package="com.spanbee.repositories" />

	<jpa:repositories base-package="com.spanbee.repositories" />
</beans>
